## Shark Attacks

In [16]:
import pandas as pd
import re
data = pd.read_csv("input/GSAF5.csv", encoding = "ISO-8859-15")

In [17]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

### 1st clean:
Columns 'Unnamed: 22' & 'Unnamed: 23' are not referenced in the description of the dataset and doesn't contain any relevant information. Proceed to drop them.

In [18]:
data = data.drop(['Unnamed: 22','Unnamed: 23'], axis=1)

### 2nd clean: Renaming columns
- Some names of the columns aren't clean or clear enough. Below the list of columns renamed
    - Sex: remove a blank space at the end.

In [19]:
data.rename(columns={'Sex ':'Sex'}, inplace=True)

### 3rd clean: Change column types

In [20]:
data.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
dtype: object

### 4th clean: 

Among the total 5900 events registered, only 137 happened before 1700. To evaluate only statistically relevant data, events registered before 1700 will not be considered

In [21]:
data = data[data['Year'] > 1700]

In [23]:
data['Sex'].value_counts()

M      4721
F       572
M         2
.         1
N         1
lli       1
Name: Sex, dtype: int64

In [22]:
display(data[(data['Sex'] == 'M ')])

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
341,2014.04.22,22-Apr-14,2014,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Swimming,male,M,...,N,15h30,NaN,"R. Neale, Florida Today, 4/22/2014",2014.04.22-CocoaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.04.22,2014.04.22,5652
1363,2005.05.15,15-May-05,2005,Unprovoked,AUSTRALIA,Queensland,50 km east of Townsville,Spearfishing,Ben Edelstein,M,...,N,NaN,Blacktip shark,"J. Anderson, Townsville Bulletin, 5/21/2005",2005.05.15-Edelstein.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.05.15,2005.05.15,4630

In [8]:
data['Sex'].rename({341:'M', 1363:'M'}, inplace=True)

In [24]:
null_cols = data.isnull().sum()
print(null_cols[null_cols > 0])
print(data.shape)

Country                     36
Area                       370
Location                   453
Activity                   502
Name                       193
Sex                        554
Age                       2554
Injury                      21
Fatal (Y/N)                 19
Time                      3080
Species                   2830
Investigator or Source      15
href formula                 1
href                         3
dtype: int64
(5852, 22)

In [11]:
data.shape

(5852, 22)

In [25]:
# Regular Expressions: Clean Country, Extract month

In [58]:
hour = [data.loc[:,'Time'] != 'NaN']

In [50]:
set(data['Time'])

{' ',
 '  ',
 '   ',
 ' 14h00',
 '"After dark"',
 '"After lunch"',
 '"Early evening"',
 '"Evening"',
 '"Just before 11h00"',
 '"Night"',
 '"shortly before dusk"',
 '--',
 '00h30',
 '01h00',
 '01h30',
 '01h32',
 '01h50',
 '02h00',
 '02h30',
 '02h45',
 '03h00',
 '03h30',
 '03h45 - 04h00',
 '04h00',
 '05h00',
 '05h30',
 '05h40',
 '05h45',
 '05h50',
 '06h00',
 '06h00 -- 07h00',
 '06h10',
 '06h15',
 '06h30',
 '06h45',
 '06h47',
 '06h50',
 '06j00',
 '07h00',
 '07h00 - 08h00',
 '07h05',
 '07h08',
 '07h10',
 '07h15',
 '07h19',
 '07h20',
 '07h30',
 '07h32',
 '07h40',
 '07h45',
 '07h50',
 '07h56',
 '08h00',
 '08h00 / 09h30',
 '08h05',
 '08h10',
 '08h15',
 '08h20',
 '08h30',
 '08h35',
 '08h40',
 '08h45',
 '08h50',
 '08h55',
 '08h57',
 '08h58',
 '09h00',
 '09h00 - 09h30',
 '09h00 -10h00',
 '09h05',
 '09h11',
 '09h15',
 '09h20',
 '09h30',
 '09h30 ',
 '09h30 / 10h00',
 '09h30 / 15h30',
 '09h35',
 '09h40',
 '09h45',
 '09h50',
 '09h55',
 '09h57',
 '10h00',
 '10h00 -- 11h00',
 '10h00 / 11h00',
 '10h00 or 14h00',
 '10h07',
 '10h10',
 '10h15',
 '10h16',
 '10h20',
 '10h22',
 '10h25',
 '10h27',
 '10h28',
 '10h30',
 '10h30 or 13h30',
 '10h35',
 '10h40',
 '10h43',
 '10h45',
 '10h45-11h15',
 '10h50',
 '10h55',
 '11h00',
 '11h00 / 11h30',
 '11h01 -time of ship sinking',
 '11h05',
 '11h06',
 '11h10',
 '11h115',
 '11h15',
 '11h20',
 '11h25',
 '11h30',
 '11h30 ',
 '11h40',
 '11h41',
 '11h45',
 '11h48',
 '11h50',
 '11h51',
 '11h53',
 '11h55',
 '11h56',
 '11h57',
 '11h58',
 '12h00',
 '12h00 to 14h00',
 '12h02',
 '12h05',
 '12h10',
 '12h15',
 '12h20',
 '12h25',
 '12h30',
 '12h33',
 '12h34',
 '12h35',
 '12h38',
 '12h39',
 '12h40',
 '12h45',
 '12h45 / 13h45',
 '12h46',
 '12h48',
 '12h50',
 '12h54',
 '12h55',
 '1300',
 '13h00',
 '13h05',
 '13h06',
 '13h10',
 '13h14',
 '13h15',
 '13h20',
 '13h23',
 '13h24',
 '13h25',
 '13h26',
 '13h30',
 '13h345',
 '13h35',
 '13h37',
 '13h40',
 '13h42',
 '13h45',
 '13h50',
 '13h51',
 '13h53',
 '13h55',
 '14h00',
 '14h00 - 15h00',
 '14h10',
 '14h15',
 '14h16',
 '14h20',
 '14h21',
 '14h25',
 '14h30',
 '14h30 / 15h30',
 '14h34',
 '14h35',
 '14h37',
 '14h40',
 '14h45',
 '14h50',
 '14h55',
 '1500',
 '15h00',
 '15h00 or 15h45',
 '15h00j',
 '15h05',
 '15h06',
 '15h15',
 '15h19',
 '15h20',
 '15h25',
 '15h30',
 '15h35',
 '15h40',
 '15h44',
 '15h45',
 '15h49',
 '15h50',
 '15h52',
 '15h53',
 '15h55',
 '15h56',
 '15j45',
 '1600',
 '16h00',
 '16h05',
 '16h10',
 '16h12',
 '16h14',
 '16h15',
 '16h18',
 '16h20',
 '16h23',
 '16h25',
 '16h30',
 '16h30 or 18h00',
 '16h35',
 '16h40',
 '16h45',
 '16h50',
 '16h55',
 '17h00',
 '17h00 Sunset',
 '17h00 or 17h40',
 '17h00-18h00',
 '17h01',
 '17h10',
 '17h11',
 '17h15',
 '17h17',
 '17h20',
 '17h30',
 '17h35',
 '17h40',
 '17h42',
 '17h45',
 '17h46',
 '17h50',
 '17h51',
 '17h55',
 '17h58',
 '18h00',
 '18h05',
 '18h10',
 '18h12',
 '18h15',
 '18h15 to 21h30',
 '18h15-18h30',
 '18h20',
 '18h25',
 '18h30',
 '18h30 (Sunset)',
 '18h30?',
 '18h40',
 '18h45',
 '18h50',
 '19h00',
 '19h00 / 20h00',
 '19h00-20h00',
 '19h05',
 '19h10',
 '19h15',
 '19h20',
 '19h28',
 '19h30',
 '19h35',
 '19h45',
 '19h55',
 '2 hours after Opperman',
 '2 hrs before sunset',
 '20h00',
 '20h15',
 '20h30',
 '20h45 (Sunset)',
 '21h00',
 '21h30',
 '22h00',
 '22h30',
 '23h00',
 '23h30',
 '30 minutes after 1992.07.08.a',
 '500',
 '830',
 '8:04 PM',
 '<07h30',
 '>06h45',
 '>08h00',
 '>12h00',
 '>14h30',
 '>17h00',
 '>17h30',
 'A.M.',
 'AM',
 'After 04h00',
 'After Dusk',
 'After dusk',
 'After midnight',
 'After noon',
 'Afternoon',
 'Before 07h00',
 'Before 10h30',
 'Before daybreak',
 'Between 05h00 and 08h00',
 'Between 06h00 & 07h20',
 'Between 11h00 & 12h00',
 'Dark',
 'Dawn',
 'Daybreak',
 'Daytime',
 'Dusk',
 'Early Morning',
 'Early afternoon',
 'Early morning',
 'Evening',
 'FATAL  (Wire netting installed at local beaches after this incident.)',
 'Just after 12h00',
 'Just before dawn',
 'Just before noon',
 'Just before sundown',
 'Late Afternoon',
 'Late afternon',
 'Late afternoon',
 'Late morning',
 'Late night',
 'Lunchtime',
 'Mid afternoon',
 'Mid morning',
 'Mid-morning',
 'Midday',
 'Midday.',
 'Midnight',
 'Morning',
 'Morning ',
 'Night',
 'Nightfall',
 'Noon',
 'P.M.',
 'Possibly same incident as 2000.08.21',
 'Prior to 10h37',
 'Ship aban-doned at 03h10',
 'Shortly after midnight',
 'Shortly before 13h00',
 'Sometime between 06h00 & 08hoo',
 'Sunset',
 'X',
 'dusk',
 nan,
 'night',
 '\xa0 '}