In [2]:
import pandas as pd
data = pd.read_csv("./cleaned_data_GSAF5.csv")

In [3]:
display(data)

,Unnamed: 0,Date,Year,Month,Hour,Place,Area,Activity,Sex,Fatal (T/F)
0,0,2016.09.18,2016,9,13:00,USA,Florida,Surfing,M,0
1,1,2016.09.18,2016,9,11:00,USA,Florida,Surfing,M,0
2,2,2016.09.18,2016,9,10:43,USA,Florida,Surfing,M,0
3,3,2016.09.17,2016,9,Unknown,AUSTRALIA,Victoria,Surfing,M,0
4,4,2016.09.15,2016,9,Unknown,AUSTRALIA,Victoria,Surfing,M,0
...,...,...,...,...,...,...,...,...,...,...
5847,5847,1742.12.17,1742,12,Unknown,NaN,NaN,Swimming,M,1
5848,5848,1738.04.06,1738,4,Unknown,ITALY,Sicily,Swimming,M,1
5849,5849,1733.00.00,1733,0,Unknown,ICELAND,Bardestrand,Others,NaN,NaN
5850,5850,1721.06.00,1721,6,Unknown,ITALY,Sardinia,Swimming,M,1
5851,5851,1703.03.26,1703,3,Unknown,BARBADOS,Southwest coast,Swimming,M,0

### Analyze the data considering the sex of the attacked people

In [ ]:

data.set_index('Sex')
display(data[(data['Sex'] != 'M') & (data['Sex'] != 'F')])

In [ ]:
### Relation between Activity & Sex, Age, Place, Area.

#Histogram?

In [ ]:
data['Activity'].value_counts()