In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv("./cleaned_data_GSAF5.csv")
data = data.drop(['Unnamed: 0'], axis=1)

In [2]:
data.head()

,Date,Year,Month,Hour,Place,Area,Activity,Sex,Fatal (T/F)
0,2016.09.18,2016,9,13:00,USA,Florida,Surfing,M,0
1,2016.09.18,2016,9,11:00,USA,Florida,Surfing,M,0
2,2016.09.18,2016,9,10:43,USA,Florida,Surfing,M,0
3,2016.09.17,2016,9,Unknown,AUSTRALIA,Victoria,Surfing,M,0
4,2016.09.15,2016,9,Unknown,AUSTRALIA,Victoria,Surfing,M,0

### Checking correlations between season, activity and place.

In [3]:
season_labels = ['Winter', 'Spring', 'Summer', 'Autumn']
cutoffs = [1, 4, 7, 10, 12]
bins = pd.cut(data['Month'], cutoffs, labels=season_labels)
data['Season'] = bins

In [4]:
activity_season = data.pivot_table(index=['Activity', 'Season'], values=['Date'], aggfunc= len, fill_value=0) 
activity_season = activity_season.rename(columns= {'Date' : 'Count'})
activity_season['Ratio'] = activity_season['Count'] * 100 / activity_season['Count'].sum() 
activity_season = activity_season.round({'Ratio' : 2})
activity_season.sort_values(by=['Activity','Ratio',], ascending=False, inplace=True)
display(activity_season)

                 Count  Ratio
Activity Season
Swimming Spring    278   5.59
         Summer    260   5.23
         Winter    190   3.82
         Autumn    140   2.82
Surfing  Summer    378   7.61
         Spring    269   5.41
         Winter    254   5.11
         Autumn    153   3.08
Others   Spring    616  12.39
         Summer    543  10.93
         Winter    444   8.93
         Autumn    338   6.80
Fishing  Spring    273   5.49
         Summer    261   5.25
         Winter    229   4.61
         Autumn    160   3.22
Diving   Summer     67   1.35
         Winter     50   1.01
         Spring     39   0.78
         Autumn     22   0.44
Bathing  Autumn      3   0.06
         Summer      2   0.04
         Spring      1   0.02

In [11]:
seasonality = data.pivot_table(index=['Season'], values=['Date'], aggfunc= len, fill_value=0) 
display(seasonality)

        Date
Season
Winter  1167
Spring  1476
Summer  1511
Autumn   816

In [5]:
data['Month'].value_counts()

7     634
8     580
9     524
1     499
6     474
12    423
4     410
10    407
3     398
11    393
0     383
5     368
2     359
Name: Month, dtype: int64

Date             0
Year             0
Month            0
Hour             0
Place           36
Area           370
Activity         0
Sex            554
Fatal (T/F)     19
Season         882
dtype: int64